In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("train.csv")
df = df.fillna(df.median(numeric_only=True))
print(df.shape)
df.head()

(206474, 76)

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_house_population_500,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type
0,Ставрополь,1.0,COL_65683,45.011356,41.919273,7,71,144,225,0,...,969.0,8.439655,9.250000,1990.232759,1993.500000,Ставропольский край,31.0,S1842,2020-02-23,10
1,Омск,1.0,COL_159011,54.984833,73.387344,4,40,109,206,0,...,305.0,4.756410,4.333333,1960.346154,1956.291667,Омская область,150.0,S14290,2020-05-24,10
2,Белгород,1.0,COL_205850,50.576805,36.563267,0,9,22,44,0,...,533.0,6.435897,6.400000,1980.452991,1989.633333,Белгородская область,73.0,S25733,2020-06-28,10
3,Большой Исток,1.0,COL_229491,56.714413,60.792454,0,0,0,1,0,...,599.0,6.386792,6.418393,1970.936170,1971.709677,Свердловская область,438.0,S6985,2020-07-19,110
4,Новосибирск,1.0,COL_77283,55.055200,82.895810,0,25,50,101,0,...,1188.0,6.830065,6.672414,1974.045752,1974.637931,Новосибирская область,62.7,S4778,2020-03-01,10

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206474 entries, 0 to 206473
Data columns (total 76 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   city                                 206474 non-null  object
 1   floor                                206474 non-null  float64
 2   id                                   206474 non-null  object
 3   lat                                  206474 non-null  float64
 4   lng                                  206474 non-null  float64
 5   osm_amenity_points_in_0.001          206474 non-null  int64
 6   osm_amenity_points_in_0.005          206474 non-null  int64
 7   osm_amenity_points_in_0.0075         206474 non-null  int64
 8   osm_amenity_points_in_0.01           206474 non-null  int64
 9   osm_building_points_in_0.001         206474 non-null  int64
 10  osm_building_points_in_0.005         206474 non-null  int64
 11  osm_building_points_in_0.0075        206474 non-null  int64
 12  osm_building_points_in_0.01          206474 non-null  int64
 13  osm_catering_points_in_0.001         206474 non-null  int64
 14  osm_catering_points_in_0.005         206474 non-null  int64
 15  osm_catering_points_in_0.0075        206474 non-null  int64
 16  osm_catering_points_in_0.01          206474 non-null  int64
 17  osm_city_closest_dist                206474 non-null  float64
 18  osm_city_nearest_name                206474 non-null  object
 19  osm_city_nearest_population          206474 non-null  float64
 20  osm_crossing_closest_dist            206474 non-null  float64
 21  osm_crossing_points_in_0.001         206474 non-null  int64
 22  osm_crossing_points_in_0.005         206474 non-null  int64
 23  osm_crossing_points_in_0.0075        206474 non-null  int64
 24  osm_crossing_points_in_0.01          206474 non-null  int64
 25  osm_culture_points_in_0.001          206474 non-null  int64
 26  osm_culture_points_in_0.005          206474 non-null  int64
 27  osm_culture_points_in_0.0075         206474 non-null  int64
 28  osm_culture_points_in_0.01           206474 non-null  int64
 29  osm_finance_points_in_0.001          206474 non-null  int64
 30  osm_finance_points_in_0.005          206474 non-null  int64
 31  osm_finance_points_in_0.0075         206474 non-null  int64
 32  osm_finance_points_in_0.01           206474 non-null  int64
 33  osm_healthcare_points_in_0.005       206474 non-null  int64
 34  osm_healthcare_points_in_0.0075      206474 non-null  int64
 35  osm_healthcare_points_in_0.01        206474 non-null  int64
 36  osm_historic_points_in_0.005         206474 non-null  int64
 37  osm_historic_points_in_0.0075        206474 non-null  int64
 38  osm_historic_points_in_0.01          206474 non-null  int64
 39  osm_hotels_points_in_0.005           206474 non-null  int64
 40  osm_hotels_points_in_0.0075          206474 non-null  int64
 41  osm_hotels_points_in_0.01            206474 non-null  int64
 42  osm_leisure_points_in_0.005          206474 non-null  int64
 43  osm_leisure_points_in_0.0075         206474 non-null  int64
 44  osm_leisure_points_in_0.01           206474 non-null  int64
 45  osm_offices_points_in_0.001          206474 non-null  int64
 46  osm_offices_points_in_0.005          206474 non-null  int64
 47  osm_offices_points_in_0.0075         206474 non-null  int64
 48  osm_offices_points_in_0.01           206474 non-null  int64
 49  osm_shops_points_in_0.001            206474 non-null  int64
 50  osm_shops_points_in_0.005            206474 non-null  int64
 51  osm_shops_points_in_0.0075           206474 non-null  int64
 52  osm_shops_points_in_0.01             206474 non-null  int64
 53  osm_subway_closest_dist              206474 non-null  float64
 54  osm_train_stop_closest_dist          206474 non-null  float64
 55  osm_train_stop_points_in_0.005       206474 non-null  int64
 56  osm_train_stop_points_in_0.0075      206474 non-null  int64
 57  osm_train_stop_points_in_0.01        206474 non-null  int64
 58  osm_transport_stop_closest_dist      206474 non-null  float64
 59  osm_transport_stop_points_in_0.005   206474 non-null  int64
 60  osm_transport_stop_points_in_0.0075  206474 non-null  int64
 61  osm_transport_stop_points_in_0.01    206474 non-null  int64
 62  per_square_meter_price               206474 non-null  float64
 63  reform_count_of_houses_1000          206474 non-null  int64
 64  reform_count_of_houses_500           206474 non-null  int64
 65  reform_house_population_1000         206474 non-null  float64
 66  reform_house_population_500          206474 non-null  float64
 67  reform_mean_floor_count_1000         206474 non-null  float64
 68  reform_mean_floor_count_500          206474 non-null  float64
 69  reform_mean_year_building_1000       206474 non-null  float64
 70  reform_mean_year_building_500        206474 non-null  float64
 71  region                               206474 non-null  object
 72  total_square                         206474 non-null  float64
 73  street                               205271 non-null  object
 74  date                                 206474 non-null  object
 75  realty_type                          206474 non-null  int64
dtypes: float64(17), int64(53), object(6)
memory usage: 119.7+ MB

In [4]:
corr_columns = ['per_square_meter_price', 'floor', 'region', 'total_square', 'realty_type']
corr_columns_without_per_price = ['floor', 'region', 'total_square', 'realty_type']
numeric_columns = ['total_square', 'floor', 'realty_type']
category_columns = ['region']
df = df[corr_columns]
df.head()

,per_square_meter_price,floor,region,total_square,realty_type
0,17645.161290,1.0,Ставропольский край,31.0,10
1,33166.666667,1.0,Омская область,150.0,10
2,22493.150685,1.0,Белгородская область,73.0,10
3,79509.132420,1.0,Свердловская область,438.0,110
4,126937.799043,1.0,Новосибирская область,62.7,10

In [5]:
df['per_square_meter_price'] = np.log(df['per_square_meter_price'])
df

,per_square_meter_price,floor,region,total_square,realty_type
0,9.778217,1.0,Ставропольский край,31.00,10
1,10.409301,1.0,Омская область,150.00,10
2,10.020966,1.0,Белгородская область,73.00,10
3,11.283627,1.0,Свердловская область,438.00,110
4,11.751452,1.0,Новосибирская область,62.70,10
...,...,...,...,...,...
206469,11.013418,1.0,Свердловская область,41.00,100
206470,11.222595,1.0,Новосибирская область,98.30,110
206471,9.745967,1.0,Ставропольский край,921.50,100
206472,11.839819,5.0,Санкт-Петербург,40.01,10
206473,12.048225,1.0,Свердловская область,40.20,110

In [6]:
train_category = pd.get_dummies(df[category_columns])
train_category

,region_Адыгея,region_Алтай,region_Алтайский край,region_Башкортостан,region_Белгородская область,region_Брянская область,region_Волгоградская область,region_Вологодская область,region_Воронежская область,region_Ивановская область,...,region_Ставропольский край,region_Татарстан,region_Томская область,region_Тульская область,region_Тюменская область,region_Удмуртия,region_Ульяновская область,region_Ханты-Мансийский АО,region_Челябинская область,region_Ярославская область
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206471,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
206472,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206473,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X_train = np.hstack([df[numeric_columns], train_category])
Y_train = np.array(df['per_square_meter_price'])
reg = LinearRegression().fit(X_train, Y_train)

In [8]:
df_test = pd.read_csv("test_x.csv")
df_test = df_test.fillna(df_test.median(numeric_only=True))
df_test = df_test[corr_columns_without_per_price]

In [9]:
test_category = pd.get_dummies(df_test[category_columns])
X_test = np.hstack([df_test[numeric_columns], test_category])
res = reg.predict(X_test)
res = pd.DataFrame(res, columns=['per_square_meter_price'])
res.index.name = 'id'
res['per_square_meter_price'] = np.exp(res['per_square_meter_price'])
res.head()

    per_square_meter_price
id
0            135534.701283
1             41545.845548
2             35438.724394
3             56290.728713
4             68070.112697

In [10]:
res.to_csv("prediction.csv")